# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# Xcode
build/
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
DerivedData/

# Swift
.build/
Packages/
Package.resolved

# Supabase
supabase/functions/

# Node
node_modules/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/
dist/

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local
